body {
    margin: 0;
    padding: 0;
    background: url('./img/background.png') no-repeat left top;
    background-size: 1026px 673px;
    background-position: 8px 8px;
}

.container {
    width: 1026px;
    height: 673px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-button {
    font-size: 24px;
    background-color: #4caf50;
    color: white;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 10px;
}